<div>
    {% for room in rooms %}
        <hr/>
        <div>
           {% if request.user == room.host %}
            <a href="{% url 'edit_room' room.pk %}">Edit</a>
            <a href="{% url 'delete_room' room.pk %}">Delete</a><br/>
            {% endif %}
            <a href="{% url 'profile' room.host.pk %}">@{{ room.host.username }}</a>
            <h5>{{ room.id }} -- <a href="{% url 'room' room.id %}">{{ room.name }}</a></h5>
            <small>{{ room.topic.name }}</small>
        </div>
    {% endfor %}
</div>